# Dependency directories
node_modules/

# parcel-bundler cache (https://parceljs.org/)
.cache

# parcel-bundler build / generate output
public

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/